body {
  font-family: sans-serif;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid lightblue;
}

.cell--alive {
  background-color: black;
}

table {
  border-collapse: collapse;
  margin: 10px;
}
